.board-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px;
    font-family: 'Georgia', serif;
    color: #c1925a;
    background: #3b290d;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 columns */
    gap: 6px;
    /*margin-top: 10px;*/
    width: 100%;
}

.cell {
    background: #3b290d;
    border: 2px solid #c1925a;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.symbol {
    /*display: block;*/
    /*margin-top: 2px;*/
    font-size: 0.8rem;
}

.arrow {
    background: #0d2d3b;
    border-color: #6baed6;
}

.snake {
    background: #59330d;
    border-color: #d66b6b;
}

.highlight {
    background: #3b300d;
    border: 2px solid yellow;
    box-shadow: 0 0 15px rgba(193, 146, 90, 0.8);
}

.roll-again-button {
    width: 90%;
    margin-top: 20px;
    background-color: #c1925a;
    color: #3b290d;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.roll-again-button:hover {
    background-color: #9d6e3f;
}

.feedback-message {
    font-size: 1rem;
    margin-top: 12px;
    color: #c1925a;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.glow {
    text-shadow: 0 0 8px #c1925a;
}

.shake {
    animation: shake 0.4s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}


.level-meaning {
    font-size: 0.95rem;
    margin-top: 8px;
    color: #c1925a;
    font-style: italic;
    animation: fadeIn 0.8s ease-in-out forwards;
}


.dice-result {
    font-size: 1.2rem;
    color: #c1925a;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
}