html, body {
    background: #3b290d;
    color: #c1925a;
    margin: 0;
    padding: 0;
    text-align: center;
}

.screen {
    width: 430px;
    height: 620px;
    border-radius: 40px;
    padding: 0;
    overflow: hidden;
}